.rule-container-title{
    text-align:center;
    padding:1rem;
    text-decoration:underline;
    text-underline-offset:8px; 
}
.rule-container{
    margin:0rem auto;
    width:40rem; 
}
.rule-btn-container{
    text-align:center;
    width:max-content;
    padding:0.5rem;
    font-size:1rem;
    font-weight:600;
    width: 100%; 
}
.rule-btn{
    margin: 0 auto;
}

.quiz-title{ 
    text-align:center;
    padding:1rem;
    text-decoration:underline;
    text-underline-offset:8px;
}
.quiz-container{
    display:flex;
    flex-direction:column;
    width:40%;
    justify-content:center;
    gap:1rem;
    margin:0rem auto;
}
.quiz-paper-container{
    display:flex;
    justify-content:space-between;
}
.quiz-paper{
    font-size:1.5rem;
    padding:1rem;
    text-align:center;
}
.quiz-question-container{
    display:flex;
    justify-content:center;
}
.quiz-question{
    font-size:1.5rem;
    padding:0.5rem;
    text-align:center; 
}
.quiz-card{
    width:25rem;
    height:15rem;
    margin:0rem auto; 
}
.quiz-card-img{
    width:100%;
    height:100%; 
}
.quiz-option{
    font-size:1.5rem;
    text-align:center;
}
.quiz-next-btn{
    width:max-content;
    display:block;
    margin: 0 auto;
}