.home-container{
    display: flex;
    align-items:center;
    justify-content:center;
    gap:2rem;
    flex-direction:column;
    margin:0 auto;
}
.home-title{
    text-decoration:underline;
    text-underline-offset:8px;
    padding-top:5rem;
}
.category-container{
    display:flex;
    gap:1rem;
    flex-wrap:wrap
}